.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #0056b3;
  }
  